@import "./variables";

body {
    margin: 0;
    font-family: 'Be Vietnam', sans-serif;
    font-size: 16px;
}

ul,
ol {
    @include reset-list();
}

a {
    color: currentColor;
    text-decoration: none;

    &:hover {
        opacity: 0.8;
    }
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

p {
    margin: 0;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 20px;

    &:hover {
        opacity: 0.8;
        border: none;
    }

    &:focus {
        outline: none;
        border: none;
    }
}

.call-to-action {
    background-color: $bright-red;
    color: $vary-light-gray;
    padding: 10px 22px;
    -webkit-box-shadow: 0px 10px 13px -7px #f89999, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #f89999, 5px 5px 15px 5px rgba(0,0,0,0);
}