@import "./variables";

body {
    margin: 0;
    font-family: 'Be Vietnam', sans-serif;
    font-size: 16px;

    background: url("../images/bg-tablet-pattern.svg"), url("../images/illustration-intro.svg"), url("../images/bg-tablet-pattern.svg");
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: left 75px top -100px, 50% 3%, left 289px top 20%;
    background-size: 100%, 450px, 90%;


    @media (min-width: $desktop_breakpoint) {
        background: url("../images/bg-tablet-pattern.svg"), url("../images/bg-tablet-pattern.svg");
        background-repeat: no-repeat;
        background-position: right -300px top -250px, left -57% top 75%;
        background-size: 55%, 50%;
    }
}

ul,
ol {
    @include reset-list();
}

a {
    color: currentColor;
    text-decoration: none;

    &:hover {
        opacity: 0.8;
    }
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

p {
    margin: 0;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 20px;

    &:hover {
        opacity: 0.8;
        border: none;
    }

    &:focus {
        outline: none;
        border: none;
    }
}

.call-to-action {
    background-color: $bright-red;
    color: $vary-light-gray;
    padding: 10px 22px;
    -webkit-box-shadow: 0px 10px 13px -7px #f89999, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #f89999, 5px 5px 15px 5px rgba(0,0,0,0);
}