@import "./variables";

.footer {
    background-color: $very-dark-blue;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $vary-light-gray;

    a {
        &:hover {
            opacity: unset;
            color: $bright-red;
        }
    }

    &__pagination {
        @include flex-reverse-layout();
        gap: 26px;
        padding: 0 20px;

        @media (min-width: $desktop_breakpoint) {
            flex-direction: row;
        }

        &__contacts {
            @include flex-reverse-layout();
            width: 100%;
            gap: 50px;
            align-items: center;

            @media (min-width: $desktop_breakpoint) {
                align-items: flex-start;
            }

            &__social-media {
                @include flex-layout();
                width: 100%;
                
                @media (min-width: $desktop_breakpoint) {
                    width: max-content;
                }
            }
        }

        &__information {
            @include flex-layout();
            align-items: flex-start;
            justify-content: space-around;
            width: 100%;
            font-weight: 500;
            font-size: 18px;

            &__details {
                @include flex-layout();
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;
            }
        }

        &__updates {
            width: 100%;
            @include flex-layout();

            input {
                width: 60%;
                border-radius: 20px;
                line-height: 2;
                padding-right: 20px;
                padding-left: 10px;
                border: none;
                font-size: 16px;

                &:focus {
                    border: none;
                    outline: none;
                }
            }

            button {
                width: 25%;
                line-height: 2;
                background-color: $bright-red;
                color: white;
                padding: 5px 10px;
            }
        }
    }

    &__rights {
        text-align: center;
        padding-top: 20px;
        color: $dark-grayish-blue;
        font-size: 14px;
    }
}